.cartjs_product_table {
  display: none;
}
.cartjs_cart_in input[type="submit"] {
  width:100% !important;
  height: 42px !important;
  font-size: 15px !important;
  color: #555555 !important;
  background: #eaeaea !important;
  margin-bottom: 1px !important;
}
.cartjs_cart_in:hover {
  opacity: .66;
}
.cartjs_cart_in:active {
  opacity: 1;
}


.p-top-logo {
  font-size: 20px;
  line-height: 1.4;
  max-width: 90%;
  margin: 30px auto;
  text-align: center;
}

.p-top-logo a {
  display: block;
  transition: opacity .2s;
  text-decoration: none;
  color: #333;
}

.p-top-logo a:hover {
  opacity: .66;
}

.p-top-logo a:active {
  opacity: 1;
}

.slider .bx-controls-direction a {
  z-index: 100;
}

.slider .bx-viewport {
  top: 0;
  left: 0;
  border: 0;
  background: #f8f8f8;
  box-shadow: none;
}

.slider .bx-wrapper img {
  margin: 0 auto;
}

/* 20210716 Add style over write */
.bx-wrapper .bx-viewport {
	border: 0px !important;
	left: 0px !important;
}

.slider .bx-caption {
  top: 0;
  bottom: auto;
  background: rgba(0, 0, 0, .3);
}

.slider .bx-caption span {
  padding: 1.5em;
}

.slider .bx-pager {
  bottom: 10px;
  padding-top: 0;
}

.slider .bx-pager a {
  background: #fff;
}

.slider .bx-pager a:hover,
.slider .bx-pager a.active {
  background: <{$setting-slide-currentColor}>;
}

/* add slider custom */
#p-slider .bx-wrapper .bx-prev,
#p-slider .bx-wrapper .bx-next {
  background: transparent;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  top: calc(50% + 0px);
}
#p-slider .bx-wrapper .bx-prev {
  transform: rotate(-135deg);
  left: 15px;
}
#p-slider .bx-wrapper .bx-next {
  transform: rotate(45deg);
  right: 15px;
}

.p-news {
  line-height: 1.5;
  margin: 0;
}

.p-news::after {
  display: block;
  clear: both;
  content: '';
}

.p-news__label {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.6;
  width: 180px;
  margin: 0;
  letter-spacing: 1px;
}

.p-news__content {
  line-height: 1.6;
  margin: 5px 0 20px 10px;
}

.p-news__content p:nth-child(1) {
  margin-top: 0;
}

.p-news__label {
  font-family: 'Montserrat', sans-serif;
}

.p-news__label::before {
  content: '-';
}

.p-info {
  line-height: 1.5;
}

.p-contents {
  line-height: 1.5;
  margin-bottom: 40px;
}

.p-contents__list {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.p-contents__list::after {
  display: block;
  clear: both;
  content: '';
}

.p-contents__list li {
  position: relative;
  box-sizing: border-box;
  padding: 0 2em 0 1em;
}

.p-contents__list li::before {
  position: absolute;
  top: .5em;
  left: 0;
  content: '-';
}

.p-contents__list a {
  display: block;
  max-width: 100%;
  padding: .5em 0;
  transition: opacity .2s;
  text-decoration: none;
  color: #333;
}

.p-contents__list a:hover {
  opacity: .66;
}

.p-contents__list a:active {
  opacity: 1;
}

.p-custom-banner {
  margin-top: 50px;
  text-align: center;
}

.p-custom-banner__unit {
  background: <{$setting-custom-textColor}>;
}

.p-custom-banner__unit--text {
  font-family: 'Montserrat', sans-serif;
  padding: 30px 10px;
  color: <{$setting-custom-textColor}>;
  background: <{$setting-custom-bgColor}>;
}

.p-custom-banner__unit--text a {
  color: <{$setting-custom-textColor}>;
}

.p-custom-banner__image {
  width: 100%;
}

.p-custom-banner__heading {
  font-size: 24px;
  padding: 10px 0;
}

.p-custom-banner__body {
  line-height: 1.5;
  padding: 10px 0;
}

@media screen and (min-width: 600px) {
  .p-top-logo {
    display: none;
  }

  .slider .bx-pager {
    bottom: 30px;
  }

  .p-contents__list li::before {
    top: 0;
  }

  .p-contents__list li {
    float: left;
    width: 50%;
    margin-bottom: 20px;
  }

  .p-contents__list li:nth-child(2n + 1) {
    clear: left;
  }

  .p-contents__list a {
    display: inline-block;
    padding: 0;
  }

  .p-custom-banner {
    display: table;
    width: 100%;
    margin-top: 100px;
    table-layout: fixed;
  }

  .p-custom-banner__unit {
    display: table-cell;
    box-sizing: border-box;
    width: 50%;
    max-width: 50%;
    vertical-align: middle;
    word-break: break-all;
  }

  .p-custom-banner__unit--text {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 960px) {
  .p-news__label {
    float: left;
    clear: left;
    margin-right: 20px;
  }

  .p-news__content {
    overflow: hidden;
    margin: 0 0 20px;
  }

  .p-custom-banner__heading {
    font-size: 30px;
  }
}
